/*==================
  My CSS starts here
====================*/



:root {
    --black: rgb(0,0,0);
    --hover: rgb(0, 0, 0);
    --button-hover:rgb(248, 234, 193);
    --header:rgb(155, 194, 185);
    --body:rgb(255, 249, 231);
    --card: rgb(255, 241, 200);
    --footer:rgb(100, 177, 166);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--body);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* border: 5px solid red; */
}

.container-inner-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inner-row {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start;
    justify-content: center; */
}

wrapper > * {
    padding: 20px;

    /* border: 5px solid red; */
}

.flex-1 {
    /* background-color: var(--header); */
    font-size: 20px;
    height: 20vh;

    /* border: 3px solid red; */
}

.flex-2 {
    flex: 1;
    text-align: center;
    margin: 0 auto;
    background-color: var(--card);
    width: 60vw;
    border-radius: 20px;
    font-size: 30px;
    line-height: 50px;

    /* border: 5px solid yellow; */
}

.flex-3 {
    height: 20vh;
}

ul {
    display: flex;

}

ul > * {
    width: 15vw;
    text-align: center;
    margin: 0;

    /* border: 5px solid red; */
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--hover)
}

a:active {
    outline: none
}

.button:hover {
    background-color: var(--button-hover);
}
