@import "partials/reset";
@import "partials/typography";
@import "modules/colors";
@import "partials/buttons";
@import "modules/utility";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $font;
}

wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* border: 5px solid red; */
}

.container-inner-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inner-row {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start;
    justify-content: center; */
}

wrapper > * {
    padding: 20px;

    /* border: 5px solid red; */
}

.flex-1 {
    /* background-color: var(--header); */
    font-size: 20px;
    height: 20vh;

    /* border: 3px solid red; */
}

.flex-2 {
    flex: 1;
    text-align: center;
    margin: 0 auto;
    background-color: $card;
    width: 60vw;
    border-radius: 20px;
    font-size: 30px;
    line-height: 50px;

    /* border: 5px solid yellow; */
}

.flex-3 {
    height: 20vh;
}

ul {
    display: flex;

}

ul > * {
    width: 15vw;
    text-align: center;
    margin: 0;

    /* border: 5px solid red; */
}

a {
    text-decoration: none;
    color: $font;
}

a:hover {
    // color: $linkHover;
}

a:active {
    outline: none
}

.button:hover {
    background-color: $card;
}