@import "modules/colors";
@import "modules/utility";
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/flex";
@import "partials/grid";


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $font;
}

.grid-main {
    @include grid;
    height: 100vh;

    // border: solid 1px red;

}

.grid-main > *{
    @include flex;

    // border: solid 1px red;
}

.card {
    text-align: center;
}

.card:hover {
    background-color: $cardHover;
}

.box1 {
    background-color: $box1;
    border-radius: 20px;

    grid-column: 3 / 6;
}

.box2 {
    background-color: $box2;
    border-radius: 20px;
    grid-column: 6 / 8;
}

.box3 {
    background-color: $box3;
    border-radius: 20px;
    grid-column: 2 / 7;
}

.box4 {
    background-color: $box4;
    border-radius: 20px;
    grid-column: 7 / 10;
}

.box5 {
    background-color: $box5;
    border-radius: 20px;
    grid-column: 4 / 6;
}

.box6 {
    background-color: $box6;
    border-radius: 20px;
    grid-column: 6 / 8;
}

.box7 {
    background-color: $box7;
    border-radius: 20px;
    grid-column: 8 / 9;
}