// $background: rgb(141, 169, 231);
$background: #FC4A14;

$card: rgb(180, 180, 228);
$font: rgb(255, 255, 255);
$cardHover: rgb(111, 201, 187);

$box1: #4ABDAC;
$box2: #F7B733;
$box3: rgb(247, 169, 51);
$box4: rgb(247, 195, 51);
$box5: rgb(247, 195, 51);
$box6: rgb(247, 169, 51);
$box7: #F7B733;
